@import "mixins";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: black;
  background: $white;
  // overflow-x: hidden;
  margin: 0;
}

.section {
  position: relative;
  margin: 40px 0;
  scroll-margin-top: 150px;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 75px;
  @include devices(tablet) {
    padding: 0 50px;
  }

  @include devices(mobile) {
    padding: 0 20px;
  }
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: 700;
}

//

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

a.button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  text-transform: uppercase;

  padding: 10px 30px;
  margin: 7px;
  font-size: 15px;
  line-height: normal;

  border-radius: 20px;

  &.primary {
    background: $teal-gradient;
    color: $white;
    border: 1px solid $teal;

    &:hover {
      color: $teal;
      background: $white;
    }
  }

  &.secondary {
    border: 1px solid $teal;
    color: white;

    &:hover {
      background: $teal-gradient;
    }
  }
}

//

h1,
.h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  font-family: $oswald;

  @include devices(tablet) {
    font-size: 50px;
  }
}

h2,
.h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  font-family: var(--font-oswald);

  @include devices(tablet) {
    font-size: 30px;
  }
}

.uppercase {
  text-transform: uppercase;
}
h3,
.h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  font-family: var(--font-oswald);

  @include devices(tablet) {
    font-size: 24px;
  }

  @include devices(mobile) {
    font-size: 20px;
  }
}
.super-header {
  font-size: 18px;
  font-weight: 400;
  color: $green;

  @include devices(tablet) {
    font-size: 16;
  }
}

// Global Components
.bottom-banner {
  margin: 40px 0 0 0;
  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 0;
    margin: 0 auto;
  }
}

.socials-container {
  display: flex;

  a {
    margin: 10px;
    cursor: pointer;

    &:hover {
      &:first-of-type {
        svg {
          path {
            fill: $green;
          }
        }
      }
      svg {
        path {
          &:first-of-type {
            fill: $green;
          }
        }
      }
    }
  }
}

.praise-ribbon {
  background-color: $gray;
  width: 100vw;

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .praise-items {
    display: flex;

    @include devices(mobile) {
      flex-direction: column;
    }

    .item {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;
      flex: 0 1 auto;
      padding: 50px;
      margin: 0 45px;

      @include devices(tablet) {
        padding: 40px 0;
      }

      .bold {
        font-weight: 700;
      }
    }
  }
}

swiper-container {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;

  swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }
}

.slide-img {
  @include devices(mobile) {
    display: none;
  }

  &.mbl-only {
    display: none;
    @include devices(mobile) {
      display: block;
    }
  }
}
.homepage-hero {
  position: relative;
}
.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: $white;
  top: 0;
  padding: 100px 500px 75px 0;
  z-index: 2;

  @include devices(tablet) {
    padding: 100px 400px 75px 0;
  }

  @include devices(mobile) {
    height: 90vh;
    justify-content: flex-end;
    padding: 20px;
    padding-left: 0px;
  }

  h2 {
    margin: 0;
  }

  .description {
    font-size: 20px;
    margin-right: 100px;

    @include devices(mobile) {
      font-size: unset;
      margin-right: 0px;
    }
  }

  .buttons-container {
    display: flex;

    @include devices(mobile) {
      flex-direction: column;
    }
  }
}

.about-us {
  margin: 80px 0;

  .wrapper {
    display: flex;
    gap: 75px;

    @include devices(mobile) {
      flex-direction: column;
      gap: 0;
    }

    .left-side {
      .image-container {
        display: none;
        width: 200px;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &.mbl-only {
          @include devices(mobile) {
            display: block;
            margin: 0 auto;
          }
        }
      }

      .text-container {
        h2,
        h3 {
          color: $blue;
        }
      }
    }

    .right-side {
      .image-container {
        width: 450px;
        height: 450px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        @include devices(mobile) {
          display: none;
        }
      }
    }
  }

  .services {
    h3 {
      color: $blue;
    }
  }

  .services-container {
    display: flex;
    height: 100%;

    @include devices(mobile) {
      flex-direction: column;
    }

    .service {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex: 0 1 33%;
    }
  }
}

.new-patient {
  .wrapper {
    background: $blue-gradient;
    color: $white;
    margin: 0 180px;
    padding: 0;
    border-radius: 30px;

    @include devices(mobile) {
      margin: 0 20px;
    }

    .container-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 120px 240px;
      text-align: center;

      @include devices(tablet) {
        padding: 50px;
      }

      @include devices(mobile) {
        padding: 20px;
      }

      .buttons-container {
        display: flex;

        @include devices(mobile) {
          flex-direction: column;
        }
      }
    }
  }
}

.what-to-expect {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 180px;

    h2 {
      color: $blue;
    }

    @include devices(tablet) {
      margin: 0 60px;
    }
    @include devices(mobile) {
      margin: 0 20px;
    }
  }
}

.conditions {
  background: $blue-gradient;
  color: $white;

  .wrapper {
    padding: 0;
  }

  .container-inner {
    padding: 100px 240px;

    h2 {
      text-align: center;
    }

    @include devices(tablet) {
      padding: 60px;
    }

    @include devices(mobile) {
      padding: 20px;
    }

    .conditions-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 250px;
      margin-top: 75px;

      @include devices(mobile) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        height: auto;
        margin-top: 10px;
      }

      li {
        padding: 2px 0;

        @include devices(mobile) {
          word-break: break-word;
        }
      }
    }
  }
}

.location {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: $blue;
  }
  &-container {
    margin: 60px 180px;
    border: 3px solid $teal;
    border-radius: 30px;

    @include devices(tablet) {
      margin: 60px;
    }
    @include devices(mobile) {
      margin: 10px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 32px;
    border-radius: 30px;

    @include devices(mobile) {
      padding: 15px;
    }

    .map {
      grid-row: 1 / 3;
      grid-column: 1 / 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 30px;
      }
    }

    .practice {
      grid-row: 1 / 3;
      grid-column: 2 / 3;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 30px;
      }
    }
    .address {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      background: $blue-gradient;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;

      h3 {
        color: $white;
      }
      @include devices(mobile) {
        text-align: center;
        padding: 10px;
      }
    }
  }
}

.form {
  display: flex;

  @include devices(mobile) {
    flex-direction: column;
  }

  img {
    @include devices(mobile) {
      display: none;
    }
  }

  .contact-form {
    padding: 0 85px;
    flex: 0 1 70%;
    background: $blue-gradient;
    color: $white;

    &:has(.submission-message) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include devices(tablet) {
      padding: 0 60px;
    }

    @include devices(mobile) {
      padding: 20px;
    }

    .inner-form {
      display: flex;
      flex-direction: column;
      input:not(.submit),
      textarea {
        font-family: $roboto;
        background-color: $black;
        color: white;
        opacity: 0.5;
        padding: 20px;
        border: none;
        border-radius: 10px;
        margin: 14px 0;

        &.message {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 150px;
        }

        ::placeholder {
          opacity: 1;
          margin-left: 10px;
        }
      }
      .submit {
        background: unset;
        appearance: none;
        border: 1px solid $white;
        padding: 10px;
        border-radius: 30px;
        color: $white;

        &:hover {
          background: $teal;
          border: 1px solid $teal;
          color: $white;
        }
      }
    }
  }
}

.footer {
  background-color: $gray;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 54px;

    @include devices(mobile) {
      align-items: flex-start;
      flex-direction: column;
    }

    .footer-logo {
      width: 275px;
      height: 62px;
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      @include devices(mobile) {
        display: none;
      }
    }
    ul {
      list-style: none;

      @include devices(mobile) {
        padding-left: 0;
      }

      li {
        padding: 5px 0;
      }
    }

    a {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
